<p>
Toxher records locations in Oranienburg to which historical toxic events can be
assigned. Toxher is being developed as part of the Cluster of Excellence
"Matters of Activity" at Humboldt-Universit&auml;t zu Berlin.
</p>
